@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400|Teko&display=swap);/* Variables */

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Common */

body {
  font-family: "Teko", sans-serif;
}

a {
  text-decoration: none;
}

li {
  font-family: "Open Sans", sans-serif;
}

/* Header */

header {
  text-align: center;
}

header img {
  margin: 20px;
}

header ul {
  list-style: none;
}

header ul li {
  display: inline-block;
  margin-bottom: 10px;
}

header ul li a {
  color: #404040;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  transition-duration: 0.5s;
}

header ul li a:hover {
  background-color: #cde2e7;
}

/* Main */

main {
  background-image: url(/images/fondo-pag-speciali.jpg?2f95c43d2f5c6ce37bf1838709b316a3);
}

main .container {
  width: 90%;
  margin: 0 auto;
}

main .container h2 {
  color: #002d75;
  font-size: 30px;
  padding: 30px 0 0 30px;
}

main .container .cards {
  display: flex;
  flex-wrap: wrap;
}

main .container .cards .card {
  flex-basis: calc(100% / 3 - 40px);
  position: relative;
  margin: 20px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #cde2e7;
}

@media screen and (max-width: 768px) {
  main .container .cards .card {
    flex-basis: calc(100% / 2 - 40px);
  }
}

@media screen and (max-width: 375px) {
  main .container .cards .card {
    flex-basis: 100%;
  }
}

main .container .cards .card:hover .card-link {
  opacity: 1;
}

main .container .cards .card:hover img {
  transform: scale(1.4);
}

main .container .cards .card img {
  display: block;
  width: 100%;
  transition-duration: 3s;
}

main .container .cards .card .card-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 3s linear all;
  text-align: center;
}

main .container .cards .card .card-link h3 {
  padding-bottom: 10px;
}

main .container .cards .card .card-link h3 a {
  color: #002d75;
}

/* Footer */

footer {
  display: flex;
  flex-wrap: wrap;
}

footer .container {
  flex-basis: calc(100% / 3 - 100px);
  margin: 50px;
}

footer .container h4 {
  padding-top: 10px;
  padding-bottom: 20px;
  color: #707070;
}

footer .container ul {
  list-style: none;
}

footer .container ul li {
  color: #707070;
  font-size: 13px;
  padding-bottom: 10px;
}

footer .container ul li a {
  color: #707070;
}

footer .left ul li {
  font-size: 12px;
  padding-bottom: 2px;
}

