// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Teko&display=swap');
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

body {
    font-family: $primary-font;
}

a {
    text-decoration: none;
}

li {
    font-family: $secondary-font;
}
