footer {
    display: flex;
    flex-wrap: wrap;
    background-image: url('footer-montagne-bottom.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    .container {
        flex-basis: calc(100% / 3 - 100px);
        margin: 50px;
        padding-bottom: 50px;
        h4 {
            padding-top: 10px;
            padding-bottom: 20px;
            color: $font_tertiary_color;
        }
        ul {
            list-style: none;
            li {
                color: $font_tertiary_color;
                font-size: 13px;
                padding-bottom: 10px;
                a {
                    color: $font_tertiary_color;
                }
            }
        }
    }
    .left {
        ul {
            li {
                font-size: 12px;
                padding-bottom: 2px;
                line-height: 25px;
            }
        }
    }
}
