header {
    text-align: center;
    img {
        margin: 20px;
    }
    ul {
        list-style: none;
        li {
            display: inline-block;
            margin-bottom: 10px;
            a {
                color: $font_color_one;
                font-weight: bold;
                font-size: 18px;
                padding: 10px;
                transition-duration: 0.5s;
                &:hover {
                    background-color: $hover_color_one;
                }
            }
        }
    }
}
