// Body
$body-bg: #f8fafc;

// Typography
$primary-font: 'Teko', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

// Colors
$font_primary_color: #404040;
$font_secondary_color: #002d75;
$font_tertiary_color: #707070;
$hover_header_menu: #cde2e7;
$bg-color-product: #B8DAE4;
